/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{
margin: 0;
padding: 0; font-family:Trebuchet MS; font-size:13px; text-transform:uppercase; 
list-style-type: none;
overflow: hidden;
width: 100%; color:#3f4b65;
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0; 
padding: 6px 9px; /*padding inside each tab*/
border-right: 1px solid #3f4b65; /*right divider between tabs*/
color:#3f4b65; font-weight:bold;

}

.mattblackmenu li a:visited{
 
}

.mattblackmenu li a:hover{
background:transparent url(../images/bottombg.gif) repeat-x top ; color:#FFFFFF;  /*background of tabs for hover state */
}

.mattblackmenu a.selected{
 background:transparent url(../images/bottombg.gif) repeat-x top ; color:#FFFFFF;/*background of tab with "selected" class assigned to its LI */
}